# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Streamlit secrets
.streamlit/

# Outputs (tracks & lyrics)
outputs/

# OS junk
.DS_Store
.streamlit/secrets.toml
outputs/
__pycache__/
*.pyc

venv/
.streamlit
.streamlit
